/* WhatsApp button */
.whatsapp-button {
    display: flex;
    position: fixed;
    bottom: 90px; /* Above the other logo */
    right: 20px;
    background-color: #25d366;
    border-radius: 50px;
}

.whatsapp-button img {
    
    position: relative;
    width: 35px;
    height: 35px;
}

/* Phone button */
.phone-button {
    display: flex;
    position: fixed;
    border-radius: 50px;
    bottom: 160px; /* Above the WhatsApp button */
    right: 20px;
    background-color: #34b7f1;
}

.phone-button img {
    width: 30px;
    height: 30px;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
    .button {
        width: 50px;
        height: 50px;
    }

    .button img {
        width: 30px;
        height: 30px;
    }
}

@media screen and (max-width: 480px) {
    .whatsapp-button {
        bottom: 80px;
    }

    .phone-button {
        bottom: 140px;
    }

    .button {
        width: 45px;
        height: 45px;
    }

    .button img {
        width: 25px;
        height: 25px;
    }
}